language: node_js
sudo: false
branches:
  only: 
    - master
node_js:
  - "4"
  - "6"
  - "8"
  - "10"
  - "node"
deploy:
  provider: npm
  email: info@kylelaverty.ca
  api_key:
    secure: mwionScVqKdubJgeMDSWOkQiaMY/iPYgjdhCjbpEx08uy3UQj2HV5cmHz3muO0Ese7g89iwtWe8LmVm/zaSZmwF5Bo23TGWnkFDiI9YRBL0tlALHGys3o6i6IdO+LNg1hEXG+Ulq7P5FetIi5qHZTkTRKk0533z7+7SFNgNV+HFMzXujhvD2T9p65yqfXpY1r3fnKPxZfIxNI40DeZWiPVzaLjGlxxc93pqS6QqdRTDNGmhAaoGTG6k9LKlASlDe6zy1/UKJMWAoWmzoh8AxtYtTAYgaQrmtOJ1ct4dLUGa+PLAlCFynlonhPM3VYNUSsYoUqRC5bznQiQgoVLoK3N/BbARwpcC6ZMJFZrGvnT2GzZkDkf4PMFbq9AafZSDRwwiQqCMXaugWYYUFNz7VOiHSoA4w2l3Ykvm25fiqGEkboUA6YNJCy2LF1/XHS3uhrWUxfiKrLOkXtKkO5GxXv2gHpwX+Hi1XWDVbElX8LnRqMwZhP36R/E7qh8HXdR3xJ6eNNFRg1jriS5FmnzixWpElJq9TtiqWjmOVsoLVsP+yCglAwXM48o2Egc5T5tJ/Ed/0bbpWv+E4LcuTPgmPY6XNgHRUiq8WyhPpYshn305EVMbfZgUyXnvUDCOlJxFlYuVtodXkfe7EbOmz0TSJipbLgQeAQWSXtot7DCoPn/M=
  on:
    tags: true
    repo: kylelaverty/joi-array-extensions